* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    display: inline-block;
}

h1 {
    background-color: yellow;
    padding: 60px;
    text-align: end;
}

#logo {
    width: 153px;
    position: absolute;
    top: 0px;

}

nav {
    position: absolute;
    top: 30px;
    left: 150px;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    margin: 20px;


}

a {
    text-decoration: none;
    color: yellow;
    margin: 20px;

}


body {
    background-color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;


    border: solid;

}

.container>#aside-banner {
    order: 1;
    flex: 100px;
    overflow: hidden;

}

.container>section {
    order: 2;
    flex: 50%;
    padding: 30px;
    background-color: black;
}

#banner {
    width: 900px;

}

#list-rules {
    color: white;
    padding-left: 20px;
}

#list-rules>li {
    margin-top: 20px;

}

li {
    font-size: 20px;
}

ul {
    padding-left: 50px;
    color: white;
}

#allplay {
    margin-bottom: 10px;
    margin-left: 0;
}

#sport-rules {
    margin-bottom: 10px;
}

#tittle-rules {
    color: yellow;
    text-align: center;
}

#subtittle-rules {
    color: yellow;
    text-align: center;
    padding: 10px;
}


#titulo-index {

    background-color: yellow;
    padding: 15px;

    border-radius: 20px;


    display: inline-block;
}

#tittle-ab {
    background-color: yellow;
    padding: 15px;

    border-radius: 20px;


    display: inline-block;

}

article {
    width: 100%;
    background-color: black;
    padding: 30px;
}

#contact>p {
    padding: 20px;
}

h4 {
    margin-top: 20px;
    color: yellow;
}

p {
    font-size: 20px;
    color: white;
}

table {
    color: white;
    padding: 10px;
    table-layout: fixed;
    width: 600px;
}

thead th:nth-child(1) {
    text-align: start;
}

thead th:nth-child(2) {
    text-align: start;
}

thead th:nth-child(3) {
    text-align: start;
}

thead th:nth-child(4) {
    text-align: start;
}

td {
    padding: 5px;
}

#information>p,
span {
    padding: 10px;
    color: white;
    font-size: 20px;
}

#email-info {
    margin-left: 400px;

}